<div>
    <h3 ng-if="attrs.title || attrs.subtitle">
      {{attrs.title}} <small>{{attrs.subtitle}}</small>
      <span ng-repeat="e in messages.error" class="rio-icon-warning text-danger" tooltip="{{e}}"></span>
      <span ng-repeat="e in messages.warning" class="rio-icon-warning text-warning" tooltip="{{e}}"></span>
    </h3>
    <div ng-repeat="e in messages.error" class="rio-icon-warning text-danger"> {{e}} <br /></div>
    <div ng-show="state == null">
      <div class="alert alert-warn text-center">
        <h4>state is NULL</h4>
      </div>
    </div>
    <div ng-show="state === 'loading'">
      <alert type="info" class="text-center">
        <div class="spinner">
          <div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div>
        </div>
      </alert>
    </div>
    <div ng-show="state === 'denied'">
      <div class="alert alert-warning text-center">
        <h3>No access allowed.</h3>
      </div>
    </div>
    <div ng-show="state === 'error'">
      <div class="alert alert-warning text-center">
        <h3>Unable to load.</h3>
      </div>
    </div>
    <div ng-show="state === 'nosession'">
      <div class="alert alert-warning text-center">
        <h3>Session expired.</h3>
        <a class="btn rio-btn" href="index.php/Auth/logout?h={{entity.viewId}}/{{entity.entityId}}">Login</a>
      </div>
    </div>
    <div ng-show="state === 'loaded' || state === 'refresh'" class="refresh-mask">
      <div ng-show="state === 'refresh'" class="refresh-mask-content"></div>
      <div ng-transclude></div>
    </div>
  </div>