
<p>This is the partial for view 1.</p>
<h1>{{value1}}</h1>
<h4>Upstream</h4>
<div class="table-responsive-md">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Frequency</th>
                <th>Modulation</th>
                <th>
                    <abbr title="Click to see transmit level thresholds">
                        TX
                    </abbr>
                </th>
                <th>
                    <abbr title="Click to see SNR thresholds">
                        SNR
                    </abbr>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="!signalLevelsData.upstream" class="text-center">
                <td>
                    <load-mask></load-mask>
                </td>
            </tr>
            <tr ng-repeat="info in signalLevelsData.upstream">
                <td>{{info.frequencyString}}</td>
                <td>{{info.modulationType}}</td>
                <td>{{info.levelString}}</td>
                <td>{{info.snrString}}</td>
            </tr>
        </tbody>
    </table>
</div>

<h4>Downstream</h4>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Frequency</th>
            <th>Modulation</th>
            <th>
                <abbr title="Click to see receive level thresholds">
                    RX
                </abbr>
            </th>
            <th>
                <abbr title="Click to see snr threshold">
                    SNR
                </abbr>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="!signalLevelsData.downstream" class="text-center">
            <td>
                <load-mask></load-mask>
            </td>
        </tr>
        <tr ng-repeat="info in signalLevelsData.downstream">
            <td>{{info.frequencyString}}</td>
            <td>{{info.modulationType}}</td>
            <td>{{info.levelString}}</td>
            <td>{{info.snrString}}</td>
        </tr>
    </tbody>
</table>

